.index-content{
  width: 50%;
  float: left;
  vertical-align: middle;
  text-align: center;
}

.index-title{
  text-align: center;
  width: 100%;  
}
.main-content{
  padding-top: 10%;
  width: 800px;
  margin: auto;
}


h1#index-title{
  float: left;
  width: 100%; 
  font-family: Serif;
  font-size: 3.6em;
}

.stop-image-future, .stop-image{
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: darkblue;
  float: left;
  margin-top: 20px;
  margin-left: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
  color: white;
}

.stop-image-future{
  opacity: 0.2;
}


.table {
  font-size: 13px;
}

.tableheaders {
  text-align: center;
}

.table tbody tr td {
  padding: 2px !important;
}


.h3title{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.main {
  width: 1200px;
  height: 620px;
  margin: auto;
}

.content {
  width: 100%;
  height: 100%;
  margin: auto;
}

.title {
}

.left {
  width: 60%; 
  height: 100%;
  float: left;
  margin-right:2%;
}

.summarycontent {
  width: 95%;
  height: auto;
}

.summarypanel1 {
}

.summarylabel {
  margin-top: 40px;
}

.stops{
  width: auto;
  height: 56px;
}

.picks {
  width: auto;
  height: 450px;
  margin-top: 5px;
  margin-right: 5%;
  max-height: 450px;
  overflow-y: auto;
  border: 1px solid black;
}

.right {
  width: 32%; 
  height: 100%;
  float: left;
  margin-left: 4%;
}
.leaderboard {
  width: 100%; 
  height: 38%;
}
.badges {
  width: 100%; 
  height: 59%;
}

.badge-container {
  width: 33%; 
  height: 150px;
  float: left;
  font-size: 10px;
  text-align: center;
}
.badge-info {
  height: 35%;
}

.singlebadge {
  width: auto; 
  height: 55%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
}


