{% load staticfiles %}
{% load dashboard_extras %}

<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head
<body> 
  <div class="main">
    <div class="main-content">
      <a href="{% url 'menstour' malesmaxevent %}">
        <div class="index-content">
          <img src="{% static 'img/boys.png' %}" style="width: auto; height: 300px;"/>
        </div>
      </a>
      <a href="{% url 'womenstour' femalesmaxevent %}">
        <div class="index-content">
          <img src="{% static 'img/girls.jpg' %}" style="width: auto; height: 300px;"/>
        </div>
      </a>
      <div class="index-title">
        <h1 id="index-title">Fantasy Surf League</h1>
      </div>
    </div>
  </div>
</body>
</html>   
